<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Tipos-de-Variables" data-toc-modified-id="Tipos-de-Variables-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Tipos de Variables</a></span><ul class="toc-item"><li><span><a href="#Números" data-toc-modified-id="Números-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Números</a></span></li><li><span><a href="#Texto-+-visualizar-variables-con-print()" data-toc-modified-id="Texto-+-visualizar-variables-con-print()-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Texto + visualizar variables con <code>print()</code></a></span></li><li><span><a href="#Ejercicios:-números,-textos-y-print()" data-toc-modified-id="Ejercicios:-números,-textos-y-print()-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Ejercicios: números, textos y <code>print()</code></a></span></li><li><span><a href="#Ejercicios:-tipos-de-datos" data-toc-modified-id="Ejercicios:-tipos-de-datos-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Ejercicios: tipos de datos</a></span></li></ul></li><li><span><a href="#Operaciones-algebraicas" data-toc-modified-id="Operaciones-algebraicas-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Operaciones algebraicas</a></span><ul class="toc-item"><li><span><a href="#Ejercicios:-operaciones-algebraicas" data-toc-modified-id="Ejercicios:-operaciones-algebraicas-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Ejercicios: operaciones algebraicas</a></span></li></ul></li><li><span><a href="#Operaciones-binarias" data-toc-modified-id="Operaciones-binarias-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Operaciones binarias</a></span><ul class="toc-item"><li><span><a href="#Ejercicios:-operaciones-binarias" data-toc-modified-id="Ejercicios:-operaciones-binarias-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Ejercicios: operaciones binarias</a></span></li></ul></li><li><span><a href="#Métodos-de-los-strings-y-la-función-input()" data-toc-modified-id="Métodos-de-los-strings-y-la-función-input()-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Métodos de los <em>strings</em> y la función <code>input()</code></a></span><ul class="toc-item"><li><span><a href="#upper()" data-toc-modified-id="upper()-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span><code>upper()</code></a></span></li><li><span><a href="#lower()" data-toc-modified-id="lower()-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span><code>lower()</code></a></span></li><li><span><a href="#capitalize()" data-toc-modified-id="capitalize()-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span><code>capitalize()</code></a></span></li><li><span><a href="#title()" data-toc-modified-id="title()-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span><code>title()</code></a></span></li><li><span><a href="#swapcase()" data-toc-modified-id="swapcase()-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span><code>swapcase()</code></a></span></li><li><span><a href="#strip()" data-toc-modified-id="strip()-4.6"><span class="toc-item-num">4.6&nbsp;&nbsp;</span><code>strip()</code></a></span></li><li><span><a href="#split()" data-toc-modified-id="split()-4.7"><span class="toc-item-num">4.7&nbsp;&nbsp;</span><code>split()</code></a></span></li><li><span><a href="#replace()" data-toc-modified-id="replace()-4.8"><span class="toc-item-num">4.8&nbsp;&nbsp;</span><code>replace()</code></a></span></li><li><span><a href="#join()" data-toc-modified-id="join()-4.9"><span class="toc-item-num">4.9&nbsp;&nbsp;</span><code>join()</code></a></span></li><li><span><a href="#find()" data-toc-modified-id="find()-4.10"><span class="toc-item-num">4.10&nbsp;&nbsp;</span><code>find()</code></a></span></li><li><span><a href="#Ejercicios:-operaciones-con-texto-y-la-función-input()" data-toc-modified-id="Ejercicios:-operaciones-con-texto-y-la-función-input()-4.11"><span class="toc-item-num">4.11&nbsp;&nbsp;</span>Ejercicios: operaciones con texto y la función <code>input()</code></a></span></li></ul></li></ul></div>

# Tipos de Variables

## Números

Lo primero que se nos ocurre a todas pensando en la programación son números, sobre los cuales se calculan cosas. Para empezar vamos a definir una variable con el valor 3. Esta variable la vamos a asignar un nombre, que puede ser `a`, `tres`, `trEs`, `A_tres`, `valor1`, etc. Aunque es recomendable, por convención no utilizar mayúsculas para definir variables. 

Ejecuta los siguientes marcos haciendo clic en ellos y pulsando ctrl + Entrar. El resultado del código lo verás debajo del marco.

In [36]:
3

3

In [37]:
a

NameError: name 'a' is not defined

Como acabas de ver, al entrar un `3` sin contexto ningúno, el ordenador no sabe qué hacer con ello, y te lo repite tal cual. Sin embargo, en el segundo marco, devolvió un error. Siempre es muy importante leer los errores sin asustarse: Python da pistas de cuál es el error que estamos cometiendo. Incluso a veces nos puede dar una idea de como solucionarlo.

El error dice que la `A` está sin definir: no sabe si es una constante, una función, una página web, o lo que sea.

Volvemos a intentarlo con comillas, usando ctrl + Entrar para ejecutar el marco:

In [38]:
"A"

'A'

Ahora sí que lo acepta. ¿Por qué? Al poner caracteres sin contexto el ordenador asume que es una variable, y si no la encuentra entre sus variables ya guardadas no devolverá error. Las comillas (sean simples o dobles, da igual) especifican que no buscamos una variable, pero que le estamos dando un contenido. Sin embargo, sin nombre no podrá guardar el contenido. Recuerda que los variables siempre se definen con `nombre = contenido`. 

Lo intentamos, ejecuta el marco:

In [ ]:
a = 3

No sale un resultado debajo de la celda, ¿he hecho algo mal? ¡No! Antes estabamos escribiendo contenidos sin decir qué queremos hacer con ellos, y por tanto Python devolvió ese mismo contenido. Poniéndolo en forma `nombre = contenido` decimos que queremos guardar el contenido `3` en la variable llamada `a`. Como ya sabe qué hacer no devuelve nada, sino que hace lo que pedimos.

Recuerda que antes, al escribir `a` sin comillas, salió un error. Volvemos a intentarlo:

In [ ]:
a

3

¡Sale el número 3! Aquí la clave es el orden en que ejecutamos las celda: la celda con `a` es exactamente la misma que arriba. Si hubieramos ejecutado ésta celda antes de la anterior, que especifica qué contiene la variable `a`, nos hubiera salido el mismo error. La diferencia está en que ahora sí que tiene una variable guardada con ese nombre. Si vuelves a la celda de arriba que dió el error, ¿qué crees que pasará? Inténtalo.

Ojo que ya no repite la letra `a`, porque has pedido el contenido que tiene guardado en la variable. Tampoco te produce el error que vimos arriba, porque la variable con el nombre `a` ahora sí que se ha definido. Python interpreta la `a` como una asignación, y en todos los sitios en el código en que encuentra una `a` los va a leer como si hubieramos puesto `3`.

## Texto + visualizar variables con `print()`

En la sección anterior conseguimos almacenar un número dentro de una variable correctamente. Sin embargo, las variables pueden almacenar otros tipos de datos como es el texto, en Python los llamaremos *strings*. Después, la forma correcta de imprimir por pantalla su contenido sería con el uso de `print`. Probémoslo con unos ejemplos, pulsando `ctrl + Entrar` en cada celda:

In [ ]:
print(a)

3

In [ ]:
a = "batata"
print(a)

batata

¿Aquí qué ha pasado? ¿Te lo esperabas?

¿Qué pasa con las comillas simples? Cambialo y mira qué pasa.

Además de mirar las comillas también siempre nos tenemos que fijar bien en el uso de las paréntesis. Nota que en la función `print()` los parentesis normales `()` especifican los datos sobre los que tiene que actuar la función. Sin embargo, los paréntesis también pueden servir, como aprendimos en las clases de matemáticas, para agrupar sin más.

Mira la celda de abajo, sin ejecutarla todavía. ¿Qué crees que te devolverán los tres `print`?

In [ ]:
cantidad = 3
print(cantidad)

categoria1 = "verde"
print(categoria1)

categoria2 = "azul" #corregido porque estaba sin comillas y daba error
print(categoria2)

3
verde
azul

Nota como al crear la variable `categoria2` surge un error, mientras la variable `categoria1` sí que se creó sin problema. Si ponemos un nombre sin comillas, el ordenador lo interpreta como variable y va a mirar a todas las variables que tiene de esta misma sesión. Es decir: si he creado la variable `V = 1000`, cierro el Jupyter o me voy a otro y pregunto por `V` no me lo sabrá decir. Los valores se guardan localmente. 

En un `print()`, las variables de texto pueden ser ampliadas por más texto. Esto se puede hacer usando otra variable de texto, por ejemplo `color_detalle`, que tiene el valor original `"verde"` más un espacio `' '` más la palabra `'oscuro'`. Nota que un espacio también es un carácter. Al imprimir la nueva variable `color_detalle` vemos como el output es `verde oscuro`.

In [ ]:
color_detalle = categoria1 + ' ' + 'oscuro'
print(color_detalle)

verde oscuro

 Dentro de la función `print()` también se puede hacer lo mismo directamente, sin el paso intermedio de definir la variable `color_detalle`.

In [ ]:
print(categoria1 + ' oscuro')

verde oscuro

Otra forma en la que podríamos hacer el código anterior es separando los valores con una coma.

In [ ]:
print(categoria1, 'oscuro')

verde oscuro

En este caso, la coma entre `categoria1` y `'oscuro'` significa que pasamos a la *función* `print` dos *argumentos* distintos.

**Repaso**:
- El contenido de una variable se muestra en el output con la función `print()`.
- Los tipos de datos de tipo `texto` o `*string*` se pueden definir con comillas simples o dobles, pero nunca sin comillas.
- Para encadenar texto se usa `+` o `,`.



---


## Ejercicios: números, textos y `print()`

- Guarda los siguientes valores en los siguientes variables:

  1. Que `gatos` sea un número con el valor `8`.
  2. Que `perros` sea un texto de seis caracteres: la palabra `cuatro`.

- Imprime las variables:

  3. Imprime la variable `gatos`.
  4. Imprime la variable `perros`.
  5. Imprime la variable `perros` seguida por la palabra `más` y la palabra `perros` otra vez.

- Bonus

  6. Consigue que el ordenador devuelva el siguiente texto, usando `gatos` y `perros`: `cuatro más cuatro es igual a 8`.
  7. Consigue que el ordenador devuelva el siguiente texto, usando `gatos` y `perros`: `cuatro + cuatro = 8`.


---

In [39]:
gatos = 8
perros = "cuatro"

In [ ]:
print(gatos)
print(perros)
print(perros, "más", perros)

8
cuatro
cuatro más cuatro

In [ ]:
print(perros, "más", perros, "es igual a", gatos)

cuatro más cuatro es igual a 8

In [ ]:
print(perros, "+", perros, "=", gatos)

cuatro + cuatro = 8



---



Hasta ahora hemos visto dos tipos de variables: números enteros, cadenas de caracteres o *strings*:

- Los números enteros en inglés se denominan `integer` ('int'), y son todos los números sin decimales tanto positivos como negativos.

- Los números decimales en inglés se denominan `float` ('float'), y son todos los números con decimales tanto positivos como negativos.

- Las cadenas de caracteres se llaman `string` ('str') en inglés y pueden delimitarse con comillas simples ' ' o dobles " " indistintamente.

In [ ]:
# definamos algunas variables con distintos tipos de datos numéricos

b1 = 3.0
b2 = 5
b3 = 5.0
b4 = 118

`b2` y `b4` son numeros enteros (int) mientras `b1` y `b3` son flotantes (float). ¿Qué crees que pasa si hacemos una operación aritmética a combinaciones de ellas?

In [ ]:
# en esta celda introduciremos algunos operaciones básicos de Python

c1 = b1 + b2 # "+" operador de suma
c2 = b1 + b3
c3 = b2 + b4
c4 = b2 - b4 # "-" operador de resta
c5 = b4 / b2 # "/" operador de división
c6 = b4 / b3

¿Cuál(es) de las variables `c` serán del tipo *float*? ¿Para cuáles necesitarías una coma decimal?

Ejecuta la siguiente celda y mira el *output*.

In [ ]:
print('C1 = ', b1,' + ', b2,' = ', c1)
print('C2 = ', b1,' + ', b3,' = ', c2)
print('C3 = ', b2,' + ', b4,' = ', c3)
print('C4 = ', b2,' - ', b4,' = ', c4)
print('C5 = ', b4,' / ', b2,' = ', c5)
print('C6 = ', b4,' / ', b3,' = ', c6)

C1 =  3.0  +  5  =  8.0
C2 =  3.0  +  5.0  =  8.0
C3 =  5  +  118  =  123
C4 =  5  -  118  =  -113
C5 =  118  /  5  =  23.6
C6 =  118  /  5.0  =  23.6

Vemos que:
- Sumando un float con un int produce un #float.
- Sumando dos float produce un #float.
- Sumando dos int produce un #int.
- Dividiendo un int por un int produce un #float.
- Dividiendo un int por un float produce un #float.

¿En la `c5` qué pasa? #Nada, que al hacer la división da un decimal o float


Hasta ahora hemos visto que tenemos varios tipos de datos numéricos, `int` y `float`. Sin embargo, Python nos permite cambiar el tipo de dato de `int` a `float` o viceversa.
Mira los ejemplos abajo, ¿qué te esperas que ocurrirá?

In [ ]:
C5 = int()
print(c5)
C5 = float()
print(c5)

C5 = int(b4 / b2)
print(c5)
C5 = float(b4 / b2)
print(c5)
C5 = str(b4 / b2)
print(c5)

23.6
23.6
23.6
23.6
23.6

El cambiar el tipo de un dato se llama *type casting* o conversión de tipos. Mira los últimos dos *output*, ¿cómo sabemos de qué tipo se trata?

In [ ]:
c5a = float(b4 / b2)
c5b = int(b4 / b2)
c5c = str(b4 / b2)
t = type(c5a)

print(t)
print(type(c5b))
print(type(c5c))

<class 'float'>
<class 'int'>
<class 'str'>

Alternativamente, para comprobar si una variable tiene el tipo que esperabas, también puedes usar la función `isinstance()`, que requiere dos argumentos, que como siempre se separan con una coma: primero el nombre de la variable que quieres comprobar, y segundo el tipo. En funciones el orden de los argumentos es muy importante, a no ser que especificamos qué argumento es, esto ahora podemos no entenderlo, no os preocupéis, ya lo entenderemos cuando demos las funciones.

In [35]:
print(isinstance(c5a,float))
print(isinstance(c5b,int))
print(isinstance(c5c,str))

NameError: name 'c5a' is not defined

In [ ]:
# probemos a cambiarle el orden a los argumentos que le pasamos...

print(isinstance(str,c5c))

TypeError: isinstance() arg 2 must be a type or tuple of types

¿Has visto como imprime el resultado de la función `isinstance()`? No es un número, pero tampoco una cadena de texto como las de hasta ahora. Es el último tipo de datos que introducimos en esta clase: el booleano (`bool`). Es un tipo binario que sólo tiene dos opciones, verdadero (en inglés *true*) o falso (en inglés *false*). Más adelante vamos a necesitar este tipo de dato para poner condiciones, de modo que sólo ejecutaremmos un trozo de código si la condición es verdadera, si es falso nos lo saltamos. De nuevo, aquí nos hemos adelantado un poco, no hace falta que lo entendáis, un poco más adelante veremos como funciona este tipo de sintaxis en Python. Ojo que esto no se aplica a todas las funciones, divisiones por ejemplo no aceptan un bool.

In [ ]:
d1 = True
d2 = False
d3 = c3 + d1
d4 = c3 + d2
d5 = c2 + d1
d6 = c2 + d2

print('D1 = ', d1)
print('D2 = ', d2)
print('D3 = ', c3,' + ', d1,' = ', d3)
print('D4 = ', c3,' + ', d2,' = ', d4)
print('D5 = ', c2,' + ', d1,' = ', d5)
print('D6 = ', c2,' + ', d2,' = ', d6)

print(type(d1))
print(isinstance(d1,bool))

D1 =  True
D2 =  False
D3 =  123  +  True  =  124
D4 =  123  +  False  =  123
D5 =  8.0  +  True  =  9.0
D6 =  8.0  +  False  =  8.0
<class 'bool'>
True

**Repaso**:
- `Int` son números enteros, positivos o negativos o cero, sin decimales.

- `Float` son flotantes, es decir números con una coma.

- `Str` son texto.

- `Bool` son booleanos, sólo hay `True` y `False`.

- Con `type()` puedes comprobar qué tipo de datos es.

- Con `isinstance()` puedes comprobar si la variable es de un tipo en específico, como `isinstance(variable,tipo)`.

---
## Ejercicios: tipos de datos

- Definir tipos

  8. Define una variable `pizzas` con un valor `2` que sea del tipo float.

  9. Define `magdalenas` con un valor `2` que sea del tipo string.

  10. Define `postres` con un valor `0` que sea del tipo int.

- Comprobar tipos

  11. Usa `type()` para devolver el tipo de `pizzas`.
  
  12. Usa `isinstance()` para ver si `magdalenas` es un string o no.

- Bonus

  13. Define `postres` con un valor `0` que sea del tipo bool.
---

In [ ]:
#Defino tipos
pizzas = 2.5
magdalenas = "2"
postres = bool(0)

In [ ]:
#Compruebo tipos
print(type(pizzas))

<class 'float'>

In [ ]:
isinstance(magdalenas, str)

True

In [ ]:
print(type(postres))
print(postres,bool)

<class 'bool'>
False <class 'bool'>



---

# Operaciones algebraicas

Con los variables numéricas podemos calcular otros valores que nos puedan resultar más interesantes. Algunos ya los vimos en el apartado anterior. Repasemos la base:

In [ ]:
# definimos tres variables numéricas de tipo int
saldo = 235
ingreso = 100
gasto = 15

In [ ]:
print('Has recibido un ingreso, tu nuevo saldo es',saldo + ingreso)

Has recibido un ingreso, tu nuevo saldo es 335

In [ ]:
print('Has gastado dinero, tu nuevo saldo es',saldo - gasto)

Has gastado dinero, tu nuevo saldo es 220

In [ ]:
saldo = saldo + ingreso - gasto
print('Has tenido múltiples movimientos en tu cuenta, tu saldo actual es',saldo)

Has tenido múltiples movimientos en tu cuenta, tu saldo actual es 405

Fácil, ¿verdad? La multiplicación y la división se hacen con `*` y `/` respectivamente. Vemos un ejemplo:

In [ ]:
unidades_por_pack_de_ahorro = 3
packs_vendidos = 5

In [ ]:
print('Has vendido',unidades_por_pack_de_ahorro*packs_vendidos,'unidades.')

Has vendido 15 unidades.

In [ ]:
unidades_en_almacen = 15
print('Nos queda stock para vender',unidades_en_almacen/unidades_por_pack_de_ahorro,'packs.')

Nos queda stock para vender 5.0 packs.

La división ya la vimos en el apartado de tipos también. ¿Ves como da un float (`5.0`), aunque no necesite una decimal? Pues en este caso no nos interesan los packs parciales que nos queden, solo la cantidad de packs enteros que podría vender. Además, me interesaría saber si me quedan unidades sueltas que no dan para otro pack.

Para esta situación, en vez de usar la división normal `/`, podemos usar la división entera `//` y el residuo `%`. Ojo que aunque sea el símbolo de porcentaje, ¡aquí no se trata de un porcentaje!

Repetimos el ejemplo anterior con los nuevos operadores:

In [ ]:
unidades_por_pack_de_ahorro = 3
packs_vendidos = 5
unidades_en_almacen = 17

In [ ]:
print('Has vendido',unidades_por_pack_de_ahorro*packs_vendidos,'unidades.')

Has vendido 15 unidades.

In [ ]:
print('Nos queda stock para vender',unidades_en_almacen//unidades_por_pack_de_ahorro,'packs, y',unidades_en_almacen%unidades_por_pack_de_ahorro,'unidades sueltas.')

Nos queda stock para vender 5 packs, y 2 unidades sueltas.

El operador `**` se usa para elevar un número a otro. Aquí tenéis dos ejemplos:

In [ ]:
paquete_cm = 20
paquete_litros = (paquete_cm / 10) ** 3
print('Un paquete cúbico de',paquete_cm,'cm contiene',paquete_litros,'litros.')

Un paquete cúbico de 20 cm contiene 8.0 litros.

In [ ]:
variable = 5
raiz = variable ** 0.5
print('La raíz de',variable,'es',raiz)

La raíz de 5 es 2.23606797749979

Muchas veces no nos interesa tener todos los decimales. Si el valor numérico se refiere a una cantidad en euros, por ejemplo, nos suelen interesar sólo los céntimos, es decir los primeros dos decimales. 

Para redondear tenemos la función `round()`. Como argumento le damos la variable o el número que tiene que redondear. Opcionalmente puedes añadir un segundo argumento a esta función para decirle cuántos decimales te interesan. Si no añades nada más, ese segundo valor se queda por defecto en `0`.

Mira los dos ejemplos abajo. Nota como el precio lo redondeamos a 2 decimales, mientras para los chuches no le damos un segundo argumento. Cambia los decimales y mira qué pasa.

In [ ]:
valor_del_stock = 236.45
unidades_en_stock = 18
precio_minimo_por_unidad = round(valor_del_stock/unidades_en_stock,2)
print('€',precio_minimo_por_unidad)

€ 13.14

In [ ]:
niños_en_clase = 29
chuches_por_bolsa = 75
chuches_por_niño = round(chuches_por_bolsa/niños_en_clase)
print(chuches_por_niño,'chuches')

3 chuches

**Repaso**:
- Sumar con `+`.

- Restar con `-`.

- Multiplicar con `*`.

- Elevar a con `**`.

- Dividir con `/`.

- Dividir y redondear el resultado hacia abajo con `//`.

- El resto de una división con `%`.

- Redondear con `round()`.



---


## Ejercicios: operaciones algebraicas

- Operaciones básicas

  14. Calcula la suma de `gatos` y `pizzas`.

  15. Calcula la diferencia entre `gatos` y `pizzas`.

  16. Multiplica las cantidad de gatos por 2.

  17. Haz que la cantidad de `piezas` sea 8 veces la cantidad de `pizzas`.

  18. Haz que la cantidad de `piezas` se aumente con 3.

  19. Calcula el cuadrado de 9 y guárdalo en `superficie`.

- Divisiones

  20. ¿Cuánta superficie hay por gato?

  21. ¿Cuántas piezas enteras hay por gato?

  22. ¿Cuántas piezas te quedan si cada gato se come 21 piezas?

- Redondear

  23. ¿Cuánta superficie hay por gato en metros cuadrados? Redondeala a un sólo decimal. Intenta calcularlo dentro del mismo `print()` en una sola línea.
---

In [ ]:
#Operaciones básicas
print(gatos+pizzas)
print(gatos-pizzas)
print(gatos*2)

piezas = pizzas**8
print(piezas)
print(piezas**3)

superficie = 9**2

#Divisiones

print(superficie/gatos)
print(piezas//gatos)

piezas = gatos%21
print(piezas)

#Redondear

print(round(superficie**2/gatos, 1))

10.5
5.5
16
1525.87890625
3552713678.800501
10.125
190.0
8
820.1



---

# Operaciones binarias
En la sección de tipos de datos introducimos las variables booleanas. Son útiles a la hora de querer evaluar sentencias, o comparar contenidos de variables.

In [ ]:
cucharas_de_azucar = 5
cucharas_en_receta1 = 7
cucharas_en_receta2 = 5

In [ ]:
# Es el valor de cucharas de azucar = a cucharas en receta1. 
print(cucharas_de_azucar == cucharas_en_receta1)

False

In [ ]:
# Es el valor de cucharas de azucar = a cucharas en receta2. 

print(cucharas_de_azucar == cucharas_en_receta2)

True

In [ ]:
# es el valor de la variable cucharas de azucar la variable cucharas en receta1.
print(cucharas_de_azucar is cucharas_en_receta1)

False

In [ ]:
# es el valor de la variable cucharas de azucar la variable cucharas en receta1.

print(cucharas_de_azucar is cucharas_en_receta2)

True

Para evaluar si la cantidad de azúcar que tenemos nos da para una o ambas recetas podríamos ver si sus *valores* coinciden, con `==`. En este caso las variables son del tipo `int`,  por lo tanto,  también podemos usar la palabra `is`, que es un sinónimo para el operador `==`.

Ojo que dependiendo de la forma en que definas los valores, el tipo cambia. Supongamos que, sin darnos cuenta, definimos las cantidades de cucharas como *float*. Mira qué pasa con las evaluaciones con `==` e `is`.

In [ ]:
cucharas_de_azucar = 5.0
cucharas_en_receta2 = 5.0

In [ ]:
print(cucharas_de_azucar == cucharas_en_receta2)

True

In [ ]:
print(cucharas_de_azucar is cucharas_en_receta2)

False

Ahora bien, si hemos hecho la receta 2 sabemos que la cantidad de cucharas que fue usada fue igual a la de la receta2. Si ahora compramos esas dos variables, vemos que, como la una **apunta** a la otra, la evaluación con `is` también devuelve un `True`.

In [ ]:
cucharas_en_receta2 = 5.0
cucharas_usadas = cucharas_en_receta2

In [ ]:
print(cucharas_usadas == cucharas_en_receta2)

True

In [ ]:
print(cucharas_usadas is cucharas_en_receta2)

True

Esto no significa que usar `==` sea mejor ni peor que `is`, sólo que hay que tener cuidado a la hora de usarlos si realmente hacen lo que quieren en ese punto.

También nos puede interesar si dos variables son diferentes. Para evaluar si dos *valores* son distintos podemos usar `!=`. Para ver si dos variables *apuntan* a sitios distintos en la memoria usa `is not`.

In [ ]:
# recordemos que valores tenían las variables cucharas_de_azucar y cucharas_en_receta2
print(cucharas_de_azucar)
print(cucharas_en_receta2)

5.0
5.0

In [ ]:
# creemos una variable nueva que se llame cucharas_en_bote
cucharas_en_bote = 5

In [ ]:
print(cucharas_de_azucar is not cucharas_en_receta2)

True

In [ ]:
print(cucharas_de_azucar != cucharas_en_receta2)

False

Las dos primeras variables apuntan a sitios distintos, definidos exactamente iguales por casualidad, y por tanto la evaluación `is not` es verdadera. En cambio comparando el valor del `int` de las cucharas que quedan en el bote, con el `float` la evaluación `!=` devuelve un `False` porque los valores no son distintos.

Si lo pensamos, en el caso del azúcar realmente no nos interesa si son iguales las cantidades, ¿verdad? Más bien queremos evaluar si la cantidad que nos queda en casa da para hacer la receta o no. Esto se puede evaluar de muchas maneras, y ninguna de ella más correcta que otra. Miremos los primeros dos, usando el símbolo de *menor que* `<` y el símbolo de *mayor qué* `>`:

In [ ]:
cucharas_que_quedan = 7
cucharas_en_receta = 5

In [ ]:
print('Podemos hacer la receta si:')
print(cucharas_en_receta < cucharas_que_quedan,'es True')
print(cucharas_que_quedan > cucharas_en_receta,'es True')

Podemos hacer la receta si:
True es True
True es True

¿Qué pasa si nos quedan 5 cucharas solo? ¿Podríamos hacer la receta o no? Cambia el ejemplo de arriba y mira qué pasa.

In [ ]:
print('Podemos hacer la receta si:')
print(cucharas_en_receta > cucharas_que_quedan,'es False')
print(cucharas_que_quedan > cucharas_en_receta,'es True')

Podemos hacer la receta si:
False es False
True es True

Hasta ahora vimos igual, distinto de , menor que, y mayor que. Estas (`=` y `<` o `>`) se pueden combinar usando `<=` y `>=`. Nota que la combinación desigual y menor que se puede escribir con `>` y la combinación de distinto de y mayor que se pueden escribir con `<`. La combinación de `<` y `>` también ya la hemos visto: `!=`.

In [ ]:
cucharas_que_quedan = 7
cucharas_en_receta = 5

print('Podemos hacer la receta si:')
print(cucharas_en_receta <= cucharas_que_quedan,'es True')
print(cucharas_que_quedan >= cucharas_en_receta,'es True')
print('Nos sobrará azúcar si:')
print(cucharas_en_receta < cucharas_que_quedan,'es True')
print(cucharas_que_quedan > cucharas_en_receta,'es True')

Podemos hacer la receta si:
True es True
True es True
Nos sobrará azúcar si:
True es True
True es True

Todas las evaluaciones que vimos se han evaluado a un `True` o un `False`. Para comprobar si se cumplen múltiples criterios se puede usar las palabras `and` y `or`, que se traducen a las palabras *y* y *o* en castellano.

In [ ]:
huevos_que_quedan = 4
azúcar_que_queda_litros = 250
harina_bizcocho_que_queda_gramos = 500
harina_trigo_que_queda_gramos = 500
impulsor_quimico_que_queda_cucharas = 2

In [ ]:
print('Podemos hacer la receta 1?')
print(huevos_que_quedan >= 4 
      and azúcar_que_queda_litros >= 120 
      and (harina_bizcocho_que_queda_gramos >= 120 
          or (harina_trigo_que_queda_gramos >= 120 
             and impulsor_quimico_que_queda_cucharas >= 1.5)))

Podemos hacer la receta 1?
True

Entonces ¿qué sabemos de la receta 1, mirando este código? ¿Qué ingredientes necesitas? Pista: son sólo 3. ¿Qué podríamos hacer si no nos queda suficiente harina para bizcocho?

Cambia los valores de las cantidades y comprueba si la evaluación llega a la conclusión correcta.

La receta 1 se podría rea lizar con los siguientes ingredientes:

4 huevos
120 gr de azucar
240 gr de harina de trigo
1 cucharita y media de levadura

In [ ]:
print("¿Podemos hacer la receta 1?")
print(huevos_que_quedan >= 4 
      and azúcar_que_queda_litros >= 120 
      and (harina_bizcocho_que_queda_gramos <= 120 #Cambiamos la cantidad de harina que queda a menos de lo que debe ser la receta
          or (harina_trigo_que_queda_gramos <= 120 #Cambiamos la cantidad de harina que queda a menos de lo que debe ser la receta
             and impulsor_quimico_que_queda_cucharas >= 1.5)))

¿Podemos hacer la receta 1?
False

**Repaso**:
- Ser igual con `==` o `is`.

- Ser distinto con `!=` o `is not`.

- Ser menor que (o igual) con `<` (`<=`).

- Ser mayor que (o igual) con `>` (`>=`).

- Para combinar dos operaciones binarias:

    - Ambas verdaderas con `and`.

    - Ambas o solo una verdadera con `or`.

    - Usa paréntesis  para estructurar la sentencia.



---


## Ejercicios: operaciones binarias

- Comparaciones simples

  24. ¿Es verdad que hay más gatos que pizzas?

  25. ¿Es verdad que hay menos gatos que superficie?

  26. ¿Es verdad que 2 veces la cantidad de pizzas es desigual a la cantidad de gatos?

  27. ¿Es falso que 2 veces la cantidad de pizzas es igual a la cantidad de gatos?

- Comparaciones compuestas

  28. La variable `piezas`, es mayor o igual a `pizzas` y `superficie` es distinto de cero?

  29. La variable `piezas`, es mayor o igual a `pizzas` y menor que `superficie`?

  30. Me interesa saber si hay más pizzas que gatos, o si el residuo de piezas por gato es cero.

- Bonus

  31. Comprueba las comparaciones de 29. en una sola línea, sin usar la variable `piezas` más que una sola vez.

  32. Comprueba si `superficie` es desigual a cero sin usar `!=`.
  
---

In [ ]:
#Comprobamos
print(gatos>pizzas)
print(superficie>gatos)
print(pizzas**2!=gatos)
print(pizzas**2==gatos)

True
True
True
False

In [ ]:
#Comprobamos comparaciones compuestas
print(piezas>=pizzas and superficie!=0)
print(piezas>=pizzas and piezas<superficie)
print(pizzas>gatos) or (piezas%gatos==0)

True
True
False

True

 Bonus

  31. Comprueba las comparaciones de 29. en una sola línea, sin usar la variable `piezas` más que una sola vez.

  32. Comprueba si `superficie` es desigual a cero sin usar `!=`.

In [ ]:
print(superficie>piezas>=pizzas)

True

In [ ]:
superficie == 0

False

In [ ]:
superficie > 0 or superficie < 0

True



---

# Métodos de los *strings* y la función `input()`

En las secciones anteriores vimos operaciones con números y con booleanos, así que seguimos el hilo con operaciones para textos. Lo primero que hay que saber es que un `str` realmente es una cadena de caracteres. No importa si han sido definidos con comillas simples `''` o dobles `""`. La cadena se puede ampliar con más caracteres sueltos u otras cadenas predefinidas y guardadas en otra variable. Como ya sabemos, las cadenas se pueden visualizar con `print()`. Lo repasamos con un ejemplo:

In [ ]:
hola = 'Hola'
nombre = "Ada"
apellido = 'Lovelace'

In [ ]:
nombre_completo = nombre + ' ' + apellido
print(nombre_completo)

Ada Lovelace

Que recordemos es lo mismo que:

In [ ]:
print(nombre, apellido)

Ada Lovelace

Bien, ahora vas a poder insertar tu propio nombre, y guardarlo en la variable `nombre`. Para eso usamos la función `input()`. Si trabajas en VS Code, al ejecutar la celda aquí abajo, abrirá un campo para escribir arriba en la ventana. No hace falta clicear en ello, simplemente escribe tu nombre y da a la tecla `Enter`. El programa espera en la línea que dice `input()` hasta que reciba el `Enter` para ejecutar el resto del código.

In [ ]:
nombre = input()
print(nombre)

Natalia

Con tu nombre guardado en la variable, podemos construir una frase personalizada. Nota como la coma está *dentro* de las comillas.

In [ ]:
bienvenida = hola + ' ' + nombre + ', ¡bienvenida a este bootcamp!'
print(bienvenida)

Hola Natalia, ¡bienvenida a este bootcamp!

## `upper()`

Pone todas las letras en mayúscula. Ya que tenemos una frase, es decir una cadena de texto un poco más larga, podemos manipularla, por ejemplo ponerla en mayúsculas o minúsculas. En inglés se llaman *upper case* y *lower case*. Jugamos un poco con esto:

In [ ]:
# convertimos todas las letras a mayúsculas
print(bienvenida.upper())

HOLA NATALIA, ¡BIENVENIDA A ESTE BOOTCAMP!

¿Qué pasará si ahora volvemos a ver el contenido de bienvenida usando un `print()`? ¿Estará en mayúscula o como estaba originalmente?

In [ ]:
print(bienvenida)

Hola Natalia, ¡bienvenida a este bootcamp!

Vaya.... no se ha quedado todo en mayúsculas... 😢. ¿Cómo podríamos hacer para que son guardará todo en mayúsculas? Crearnos una nueva variable

In [ ]:
bienvenida_mayus = bienvenida.upper()
print(bienvenida_mayus)

HOLA NATALIA, ¡BIENVENIDA A ESTE BOOTCAMP!

## `lower()`

Pone todas las letras de nuestro *string* en minúscula.

In [ ]:
# convertimos todas las letras a minúsculas
print(bienvenida.lower())

hola natalia, ¡bienvenida a este bootcamp!

## `capitalize()`

Para poner la primera letra de la frase en mayúscula

In [ ]:
print(bienvenida.capitalize())

Hola natalia, ¡bienvenida a este bootcamp!

## `title()`

Para poner la primera letra de cada palabra en mayúscula

In [ ]:
print(bienvenida.title())

Hola Natalia, ¡Bienvenida A Este Bootcamp!

## `swapcase()`

Para convertir las mayúsculas en minúsculas y las minúsculas en mayúsculas

In [ ]:
print(bienvenida.swapcase())

hOLA nATALIA, ¡BIENVENIDA A ESTE BOOTCAMP!

## `strip()`

Otro método que podría servirnos es `.strip()`. `strip` quita todos los espacios que haya al principio y al final del *string*:

In [ ]:
bienvenida2 = '    Nos alegra que estés aquí.     '

In [ ]:
print(bienvenida2)

    Nos alegra que estés aquí.

In [ ]:
print(bienvenida2.strip())

Nos alegra que estés aquí.

Recordamos que aunque hayamos aplicado el método `strip` no queda guardado en la variable y que tendremos que sobreescribirla o crear una variable nueva.

In [ ]:
bienvenida2

'    Nos alegra que estés aquí.     '

In [ ]:
bienvenida2_strip = bienvenida2.strip()

In [ ]:
# y voilá ya no tenemos espacios
bienvenida2_strip

'Nos alegra que estés aquí.'

## `split()` 


El método split() divide un *string* en una lista.

Podemos especificar el separador, el cuál por defecto es cualquier espacio en blanco.

In [ ]:
# definamos un nuevo string

saludo = "Buenos dias chicas, sigamos aprendiendo métodos de los strings"

In [ ]:
# si hacemos un split sin especificar separador, veremos que nos devuelve una lista, donde separa nuestro string por los espacios

saludo_separado = saludo.split()
saludo_separado

['Buenos',
 'dias',
 'chicas,',
 'sigamos',
 'aprendiendo',
 'métodos',
 'de',
 'los',
 'strings']

Pero también podemos especificar un separador, en este caso, separaremos por las "d". Vemos que es lo que pasa:

In [ ]:
saludo_separado2 = saludo.split("d")
saludo_separado2

['Buenos ',
 'ias chicas, sigamos apren',
 'ien',
 'o méto',
 'os ',
 'e los strings']

Como vemos, lo que ha ocurrido es que nos ha creado una lista, donde nos ha separado el *string* anterior en cada punto donde se encontro una "d". Imaginemos ahora que tenemos un *string* multilínea:

In [ ]:
don_quijote = """En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un hidalgo de los de 
lanza en astillero, adarga antigua, rocín flaco y galgo corredor. Una olla de algo más vaca que carnero, salpicón las más noches,
duelos y quebrantos los sábados, lantejas los viernes, algún palomino de añadidura los domingos, 
consumían las tres partes de su hacienda."""

In [ ]:
# si nos fijamos, cada líena esta separado por una "\n", es el símbolo que usará python para indicar el salto de línea. 
don_quijote

'En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un hidalgo de los de \nlanza en astillero, adarga antigua, rocín flaco y galgo corredor. Una olla de algo más vaca que carnero, salpicón las más noches,\nduelos y quebrantos los sábados, lantejas los viernes, algún palomino de añadidura los domingos, \nconsumían las tres partes de su hacienda.'

En este caso, queremos separar nuestro *string* por esos saltos de línea, para eso deberemos ...

In [ ]:
don_quijote_separado = don_quijote.split("\n")
don_quijote_separado

['En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un hidalgo de los de ',
 'lanza en astillero, adarga antigua, rocín flaco y galgo corredor. Una olla de algo más vaca que carnero, salpicón las más noches,',
 'duelos y quebrantos los sábados, lantejas los viernes, algún palomino de añadidura los domingos, ',
 'consumían las tres partes de su hacienda.']

## `replace()`

Sustituye una frase especificada por otra frase especificada.

In [ ]:
# recordemos que era saludo

saludo

'Buenos dias chicas, sigamos aprendiendo métodos de los strings'

En este caso, queremos reemplazar la palabra "chicas" por "Adalabers".

In [ ]:
saludo_adalaber = saludo.replace("chicas", "Adalaber")
saludo_adalaber

'Buenos dias Adalaber, sigamos aprendiendo métodos de los strings'

Si nos fijamos, este método nos ha permitido reemplazar la palabra "chicas" por "Adalaber". En este método le podemos pasar otro parámetro que hace referencia al número de elementos que queremos reemplazar.

In [ ]:
# volvamos a ver el don quijote

don_quijote

'En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un hidalgo de los de \nlanza en astillero, adarga antigua, rocín flaco y galgo corredor. Una olla de algo más vaca que carnero, salpicón las más noches,\nduelos y quebrantos los sábados, lantejas los viernes, algún palomino de añadidura los domingos, \nconsumían las tres partes de su hacienda.'

En este caso, si nos fijamos, tenemos tres "los" en el texto. Pero puede ser que solo nos interese reemplazar los dos primeros, con Python y `replace` lo podemos hacer. Veamos cómo:

In [ ]:
don_quijote_cambiado = don_quijote.replace(" los ", " DON QUIJOTE ", 2)
don_quijote_cambiado

'En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un hidalgo de DON QUIJOTE de \nlanza en astillero, adarga antigua, rocín flaco y galgo corredor. Una olla de algo más vaca que carnero, salpicón las más noches,\nduelos y quebrantos DON QUIJOTE sábados, lantejas los viernes, algún palomino de añadidura los domingos, \nconsumían las tres partes de su hacienda.'

Si nos fijamos ahora, se han reemplazado los dos primeros "los", mientras que el último se ha conservado.

## `join()` 

Toma todos los elementos de un iterable (una lista o una tupla) y los une en un *string*.

Debemos especificar un *string* como separador.

In [ ]:
# lo primero definimos una lista (no las hemos visto todavía, pero pronto las aprenderemos)

lista_saludo = ["Hola", "que tal estas", "Adalaber"]

Nuestro objetivo es unir cada elemento de esa lista en un único *string*

In [ ]:
string_saludo1 =  " ".join(lista_saludo)
string_saludo1

'Hola que tal estas Adalaber'

Si te fijas, hemos unido todos los elementos de la lista en un único string separado por espacios. También podríamos separlos por una "_" de la siguiente forma:

In [ ]:
string_saludo2 =  "_".join(lista_saludo)
string_saludo2

'Hola_que tal estas_Adalaber'

## `find()`

Encuentra la primera aparición del valor especificado. Este método va a devolver -1 si no se encuentra el valor. Si encuentra una coincidencia, nos devuelve el número de la posición donde se encuentra el *string* que estamos buscando. 

El método `find() `es prácticamente igual que el método `index()`, la única diferencia es que el método index() lanza una excepción si no se encuentra el valor.

Su sintaxis es: 

```python
string.find(valor, inicio, final)
```
Donde: 

- `valor`: hace referencia a el *string*  que queremos buscar.

- `inicio`: hace referencia a la posición donde queremos empezar a buscar.

- `final`: hace referencia a la posición donde queremos finalizar la búsqueda.

In [ ]:
# recordemos saludo

saludo

'Buenos dias chicas, sigamos aprendiendo métodos de los strings'

Vamos a querer buscar todas las "m" de nuestro saludo. Empezando por la letra que está en la posición 10, hasta la letra que esta en posición 30

In [ ]:
saludo.find("m", 10, 30)

24

Es decir, en nuestro saludo, hay una "m" en la posición 24.

Por último veamos que pasa si usamos un método de *string* en un número por ejemplo. Imaginamos que creamos una variable de tipo *integer* y le aplicamos un método de *strings*. ¿Qué creeis que pasará? Veámoslo:

In [ ]:
# definimos la variable
numero = 5

In [ ]:
numero.upper()

AttributeError: 'int' object has no attribute 'upper'

De nuevo nos devuelve un error, y si lo leemos seremos capaces de entender que es lo que esta pasando. En este caso nos dice `AttributeError: 'int' object has no attribute 'upper'`. 

¿Qué significa esto? 

Nos está diciendo que los objetos de tipo `int` no tienen el atributo `upper`. Es decir, no podemos aplicar un método propio de *strings* en *integers*.

¡Vaya cantidad de métodos hay para `string`! ¿Has encontrado el método `.upper()`? Si quieres cotillear puedes llamar a cada una de ellos en una celda nueva y ver qué devuelven.  En la lista de VS Code también te saldrán bastantes opciones con el formato `__add__`. Son métodos especiales que de momento no nos interesan. Si usas la terminal, con la tecla `Tab` estos métodos no te aparecerán. 

Os dejamos un `int` y un `float` para mirar qué métodos existen para ellos, aunque no son tantos que para los `string`.

In [ ]:
vacas = 5
temperatura = 36.5

vacas
temperatura

36.5

**Repaso**:

- Concatenar con `+`.

- La función `input()`.

- Algunos de los los métodos: `.upper()`, `.lower()`, `.strip()`.

- Otros métodos: 

    - `.split()`: convertir un string en una lista de strings, cortado en cada espacio.

    - `.replace()`: reemplazar el substring del primer argumento con el substring del segundo.

    - `.join()`: juntar el contenido del iterable del argumento usando el separador a quien le aplicas el método para juntarlos.
    
    - `.find()`: encontrar el índice en que empiece el substring del argumento. Da '-1' si no existe el substring.

- Los métodos disponibles dependen del tipo de la variable.

- La forma de escribirlos es `variable.metodo`

- Al escribir el punto `.` pegado a un nombre de una variable la tecla `Tab` nos puede listar los métodos que se apliquen a esta variable. Por tanto, no hay que memorizarse los métodos que hay.



---


## Ejercicios: operaciones con texto y la función `input()`

- Crear nuevas variables

  33. Usa `input()` y guarda la respuesta en la variable dia_cumple.

  34. Usa `input()` y guarda la respuesta en la variable mes_cumple.

- Manipular

  35. Usa `.strip()` en ambas las variables definidas.

  36. Haz que `fecha_cumple` sea un *string* compuesto por el día y el mes.

  37. Imprime `Fecha de cumpleaños es` más el día y el mes.
  
  38. Imprime la variable perros en todas mayúsculas.

---

In [ ]:
dia_cumple = input()

In [ ]:
mes_cumple = input()

In [ ]:
dia_cumple.strip("1")

'6'

In [ ]:
mes_cumple.strip("m")

'ayo'

In [ ]:
fecha_cumple = dia_cumple + mes_cumple
fecha_cumple

'16mayo'

In [ ]:
fecha_de_cumpleaños_es = dia_cumple + " " + "de" + " " + mes_cumple

In [ ]:
fecha_de_cumpleaños_es

'16 de mayo'

In [40]:
perros.upper()

'CUATRO'