<a href="https://colab.research.google.com/github/NataliaMCatalan/DA_Modulo_1_Sprint_PairProgr_SQL_Anais_Natalia/blob/main/WedataIronhack.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

01 - Intro Python

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
###Numeros

In [ ]:
##enteros
edad = 38

In [ ]:
edad

38

In [ ]:
type(-32)

int

In [ ]:
#numeros reales
temp = 32.2

In [ ]:
temp

32.2

In [ ]:
type(temp)

float

In [ ]:
type(80)

int

In [ ]:
type(1j)

complex

In [ ]:
#Operaciones básicas
#suma 
3+5

8

In [ ]:
resta = 3-5

In [ ]:
multiplicacion = 3*5

In [ ]:
division = 3/7

In [ ]:
division

0.42857142857142855

In [ ]:
17//7

2

In [ ]:


#modulo resto de la division se le representa con %
17%2

1

In [ ]:
(2+3)*4

20

In [ ]:
2**3

8

In [ ]:
2**(1/2)

1.4142135623730951

In [ ]:
#Booleanos

bool(1)

True

In [ ]:
True == False

False

In [ ]:
0.5 == .5

True

In [ ]:
5>8

False

In [ ]:
2<6

True

In [ ]:
not True

False

In [ ]:
### Valores nulos
print (None)

None

In [ ]:
type(None)

NoneType

In [ ]:
#strings o cadena de caracteres
nombre = "Pepe"

In [ ]:
type(nombre)

str

In [ ]:
"Hola estoy en IronHack"

'Hola estoy en IronHack'

In [ ]:
print("Hola estoy \n en IronHack")

Hola estoy
 en IronHack

In [ ]:
print(f"Hola estoy {5645464} en {temp} {nombre} Ironhack")

Hola estoy 5645464 en 32.2 Pepe Ironhack

In [ ]:
"Hola estoy en IronHack".split ("o")

['H', 'la est', 'y en Ir', 'nHack']

In [ ]:
"Hola estoy en IronHack".join ("o")

'o'

In [ ]:
"Hola estoy en IronHack".replace ("o", "---")

'H---la est---y en Ir---nHack'

In [ ]:
#Listas (iterables)
lst = [1,2,3]

In [ ]:
len (lst)

3

In [ ]:
max(lst)

3

In [ ]:
min(lst)

1

In [ ]:
lst_str = ["a","b","A","c"]

In [ ]:
#Código ASCII
min(lst_str)

'A'

In [ ]:
sum(lst)

6

In [ ]:
"hola" + "adios"

'holaadios'

In [ ]:
"hola"*3

'holaholahola'

In [ ]:
#las listas tienen posición
lst[0]

1

In [ ]:
lst[-1]

3

In [ ]:
lst[-1] = 1000

In [ ]:
#slicing (recorrer los índices)
lst[0:10:2] #start:stop:step

[1, 1000]

In [ ]:
lst[::2] #toda la lista de dos en dos

[1, 1000]

In [ ]:
#Diccionarios
dictio = {"key":"value", 3:45, "bool": True}

In [ ]:
dictio["key"]

'value'

In [ ]:
#todos los lenguajes de programacion se comunican a través de un json
#cosas anidadas

In [ ]:
#Bucles
lst = [1,2,3,5,6,7,8,9,10]

for e in lst:
  print (e+2)

3
4
5
7
8
9
10
11
12

In [ ]:
for i in range(len(lst)):
  print ("index: ", i, "elemento +2:", lst[i] +2)

index:  0 elemento +2: 3
index:  1 elemento +2: 4
index:  2 elemento +2: 5
index:  3 elemento +2: 7
index:  4 elemento +2: 8
index:  5 elemento +2: 9
index:  6 elemento +2: 10
index:  7 elemento +2: 11
index:  8 elemento +2: 12

In [ ]:
for i, e in enumerate(lst):
  print(i,"----", e)

0 ---- 1
1 ---- 2
2 ---- 3
3 ---- 5
4 ---- 6
5 ---- 7
6 ---- 8
7 ---- 9
8 ---- 10

In [ ]:
for i in range(0,12,2):
  print(i)

0
2
4
6
8
10

In [ ]:
##condicional
estudiante = "Pepe"
if estudiante[-1] == "XD":
  print (estudiante, "entra al campus")

else:
  print("No entras alegre")

No entras alegre

In [ ]:
a = 0

if a==0:
  print("cerito")

elif a<0:
  print("mayor")

else:
  print("acabe")

cerito

In [ ]:
#Bucle while (vbasdo en una condicion)

a=0
b=1

print(a)
print(b)

contador = 0

while contador <=10:

  c= a+b
  print(c)

  a=b
  b=c

  contador = contador +1

  print ("Acabe")

0
1
1
Acabe
2
Acabe
3
Acabe
5
Acabe
8
Acabe
13
Acabe
21
Acabe
34
Acabe
55
Acabe
89
Acabe
144
Acabe

In [ ]:
#Analisis de Supermercado

In [ ]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd

import warnings
warnings.simplefilter("ignore")

In [ ]:
import io
from google.colab import files

data =files.upload()

Saving supermarket.csv to supermarket (1).csv

In [ ]:
#cargamos en pandas

df =pd.read_csv(io.BytesIO(data["supermarket.csv"]))
df.head(2)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
#help(df)

In [ ]:
df.tail()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [ ]:
df.describe()

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,322.966749,307.58738,4.761905,15.379369,6.97270
std,26.494628,2.923431,11.708825,245.885335,234.17651,0.000000,11.708825,1.71858
min,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905,0.508500,4.00000
25%,32.875000,3.000000,5.924875,124.422375,118.49750,4.761905,5.924875,5.50000
50%,55.230000,5.000000,12.088000,253.848000,241.76000,4.761905,12.088000,7.00000
75%,77.935000,8.000000,22.445250,471.350250,448.90500,4.761905,22.445250,8.50000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905,49.650000,10.00000

In [ ]:
df.mean()#columnas numericas

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Unit price                  55.672130
Quantity                     5.510000
Tax 5%                      15.379369
Total                      322.966749
cogs                       307.587380
gross margin percentage      4.761905
gross income                15.379369
Rating                       6.972700
dtype: float64

In [ ]:
df.max()#todas las columnas

Invoice ID                       898-04-2717
Branch                                     C
City                                  Yangon
Customer type                         Normal
Gender                                  Male
Product line               Sports and travel
Unit price                             99.96
Quantity                                  10
Tax 5%                                 49.65
Total                                1042.65
Date                                3/9/2019
Time                                   20:59
Payment                              Ewallet
cogs                                   993.0
gross margin percentage             4.761905
gross income                           49.65
Rating                                  10.0
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [ ]:
df.shape

(1000, 17)

In [ ]:
df.columns #objeto es el "molde" #atributo informacion interna, método () lleva parentesis porque implica una acción

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [ ]:
df["City"].head(5)

0       Yangon
1    Naypyitaw
2       Yangon
3       Yangon
4       Yangon
Name: City, dtype: object

In [ ]:
df["Rating"].head(5)

0    9.1
1    9.6
2    7.4
3    8.4
4    5.3
Name: Rating, dtype: float64

In [ ]:
columnas = ["City", "Rating", "Total"]

In [ ]:
df[columnas]

          City  Rating      Total
0       Yangon     9.1   548.9715
1    Naypyitaw     9.6    80.2200
2       Yangon     7.4   340.5255
3       Yangon     8.4   489.0480
4       Yangon     5.3   634.3785
..         ...     ...        ...
995  Naypyitaw     6.2    42.3675
996   Mandalay     4.4  1022.4900
997     Yangon     7.7    33.4320
998     Yangon     4.1    69.1110
999     Yangon     6.6   649.2990

[1000 rows x 3 columns]

In [ ]:
df["Rating"][0]

9.1

In [ ]:
#es un numero puedo multiplicarlo
type(df["Rating"][0]*120)

numpy.float64

In [ ]:
df[df["City"]=="Yangon"]#filtro segun ciudad

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,413.04,4.761905,20.6520,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,886-18-2897,A,Yangon,Normal,Female,Food and beverages,56.56,5,14.1400,296.9400,3/22/2019,19:06,Credit card,282.80,4.761905,14.1400,4.5
992,745-74-0715,A,Yangon,Normal,Male,Electronic accessories,58.03,2,5.8030,121.8630,3/10/2019,20:46,Ewallet,116.06,4.761905,5.8030,8.8
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [ ]:
df[(df["City"]=="Yangon") & (df["Unit price"]<50)].head(2) #multifiltro

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
8,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,1/10/2019,17:15,Credit card,72.52,4.761905,3.6260,7.2

In [ ]:
df["City"].unique()

array(['Yangon', 'Naypyitaw', 'Mandalay'], dtype=object)

In [ ]:
df["City"].value_counts()

Yangon       340
Mandalay     332
Naypyitaw    328
Name: City, dtype: int64

In [ ]:
df["Quantity"].sort_values(ascending=False)

761    10
269    10
797    10
182    10
565    10
       ..
161     1
156     1
773     1
777     1
500     1
Name: Quantity, Length: 1000, dtype: int64

In [ ]:
df.groupby("City")

In [ ]:
#Que hago con el resto de columnas?Hay que decirle algo

In [ ]:
df.groupby("City").sum()

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
City,,,,,,,,
Mandalay,18478.88,1820,5057.0320,106197.6720,101140.64,1580.952381,5057.0320,2263.6
Naypyitaw,18567.76,1831,5265.1765,110568.7065,105303.53,1561.904762,5265.1765,2319.9
Yangon,18625.49,1859,5057.1605,106200.3705,101143.21,1619.047619,5057.1605,2389.2

In [ ]:
grupo = df.groupby("City").agg({"Unit price": "mean", "Quantity": max, "Rating": "mean"})

In [ ]:
grupo

           Unit price  Quantity    Rating
City
Mandalay    55.659277        10  6.818072
Naypyitaw   56.609024        10  7.072866
Yangon      54.780853        10  7.027059

In [ ]:
df["Date"][0]

'1/5/2019'

In [ ]:
df["Date"][0].split("/")

['1', '5', '2019']

In [ ]:
df["month"] = df["Date"].apply(lambda x: x.split("/")[0])
df["day"] = df["Date"].apply(lambda x: x.split("/")[1])
df["year"] = df["Date"].apply(lambda x: x.split("/")[2])

df.head(2)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,month,day,year
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,1,5,2019
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,3,8,2019

In [ ]:
#¿Qué rama genera más beneficio?

df.groupby("Branch").sum()["Total"].sort_values(ascending=False)

#Branch C

Branch
C    110568.7065
A    106200.3705
B    106197.6720
Name: Total, dtype: float64

In [ ]:
#¿En qué ciudad se vende más?

df.groupby("City").sum()["Quantity"].sort_values(ascending=False)#.index[0]

City
Yangon       1859
Naypyitaw    1831
Mandalay     1820
Name: Quantity, dtype: int64

In [ ]:
#¿En qué ciudad se gana más?

df.groupby("City").sum()["Total"].sort_values(ascending=False)

City
Naypyitaw    110568.7065
Yangon       106200.3705
Mandalay     106197.6720
Name: Total, dtype: float64

In [ ]:
#¿Existe diferencia de consumo/gasto por género?

df.groupby("Gender").mean()["Total"].sort_values(ascending=False)

Gender
Female    335.095659
Male      310.789226
Name: Total, dtype: float64

In [ ]:
#¿Qué línea de producto genera más beneficio?

df.groupby("Product line").sum()["Total"].sort_values(ascending=False)

Product line
Food and beverages        56144.8440
Sports and travel         55122.8265
Electronic accessories    54337.5315
Fashion accessories       54305.8950
Home and lifestyle        53861.9130
Health and beauty         49193.7390
Name: Total, dtype: float64

In [ ]:
#¿Cuál es el precio medio según la línea de producto?

df.groupby("Product line").mean()["Unit price"].sort_values(ascending=False)

Product line
Fashion accessories       57.153652
Sports and travel         56.993253
Food and beverages        56.008851
Home and lifestyle        55.316937
Health and beauty         54.854474
Electronic accessories    53.551588
Name: Unit price, dtype: float64

In [ ]:
#¿Cuál es la cantidad media comprada?

df["Quantity"].mean()

5.51

In [ ]:
#¿Qué meses son más productivos?
df.groupby("month").sum()["Total"].sort_values(ascending=False)

month
1    116291.868
3    109455.507
2     97219.374
Name: Total, dtype: float64

In [ ]:
#¿Qué horas son más productivas?
#df.groupby("Time").sum()["Total"].sort_values(ascending=False)
df["hour"] = df.Time.apply(lambda x:x.split(":")[0])
df.groupby("hour").sum()["Total"].sort_values(ascending=False).index[0]

'19'

In [ ]:
#media de rating
df["Rating"].mean()

6.9727

In [ ]:
#¿Tipo de pago más usual?

df["Payment"].unique()

array(['Ewallet', 'Cash', 'Credit card'], dtype=object)

In [ ]:
df["Payment"].value_counts().sort_values(ascending=False)

Ewallet        345
Cash           344
Credit card    311
Name: Payment, dtype: int64